.battle-wrapper {
  position: static;
  transform: none;
  width: 100%;

  .hero-navlink { box-shadow: 0px 0px 20px -1px #fff; }

  .navlink {
    transition: all .2s ease-in-out;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 20px;
    background: #000;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
    text-decoration: none!important;
    border: 2px solid #fff;
    box-shadow: 0px 0px 11px 5px #000;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }
}

.vs-icon {
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}