.page404 {

}

.return-link {
  color: #fff;
  font-weight: 700;
  margin-top: 20px;
  display: block;

  &:hover {
    text-decoration: underline;
    color: inherit;
  }
}

.page-not-found {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background: rgba(#000, .7);
  color: #fff;
  text-align: center;
  padding: 20px;
}