.single-hero-wrapper {
  background: rgba(#000, .8);
  padding: 20px;
}

.specs-wrapper {
  margin-bottom: 6px;
  font-size: 14px;

  &:last-child { margin-bottom: 0; }
}

.hero-desc { font-size: 12px; }

.hero-single-page-name { font-size: 23px; }

.hero-single-page-image {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px;
}