.startscreen-actions {
  position: fixed;
  top: 50%;
  right: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;

  .navlink {
    transition: all .2s ease-in-out;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 20px;
    background: #000;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
    text-decoration: none!important;
    border: 2px solid #fff;
    box-shadow: 0px 0px 11px 5px #000;

    &:hover {
      opacity: .8;
    }

    &:last-child { margin-bottom: 0; }
  }
}