.startscreen-actions {
  transform: translate(0, -50%);
  right: 50px;
  left: auto;
  width: auto;

  .navlink {
    font-size: 20px;
    text-align: right;
  }
}

.hero-single-page-name { font-size: 34px; }

.hero-single-page-image {
  max-width: 100%;
  display: inline-block;
  margin: 0;
}

.battle-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  height: auto;
  transform: translate(-50%, -50%);
  width: 80%;
}

.vs-icon {
  max-width: 100%;
}