@import url('./styles/page404.scss');
@import url('./styles/startscreen.scss');
@import url('./styles/battle.scss');
@import url('./styles/responsive/769.scss') (min-width: 769px);
@import url('./styles/responsive/961.scss') (min-width: 961px);

[class^="col-"],
[class^=" col-"] {
  padding-right: 8px;
  padding-left: 8px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.bold { font-weight: 700; }

.bordered {
  border: 1px solid #545454;
  padding: 10px;
}

.dflex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  .flex-item {
    text-align: left;
    flex-basis: 50%;

    &:last-child { text-align: right; }
  }
}

.container-fluid {
  padding-left: 8px;
  padding-right: 8px;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

* { box-sizing: border-box; }

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: url('/images/bg.jpg') no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.page-title {
  color: #fff;
  padding: 0 50px;
}

.content {
  width: 100%;
  margin: 0 auto;
}

.allheroes,
.single-page-hero,
.battle-page { max-width: 800px; }

.single-page-hero,
.battle-page { padding-top: 120px; }

.hero-single-item {

  .img-wrapper {
    position: relative;
    overflow: hidden;
  }

  .lower-hero-info {
    color: #fff;
    padding: 10px;
  }

  img { transition: all .2s ease-in-out; }

  .powerstat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

.white-text { color: #fff; }

.hero-navlink {
  background: rgba(#000, .7);
  display: block;
  height: 100%;

  &:hover {
    text-decoration: none;

    img { transform: scale(1.2) rotate(-10deg); }
  }
}

/* MENU --------------------------------- */
.menu-choices {
  transition: all .2s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  background: rgba(#000, .9);
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  color: #fff;
  z-index: 4;

  &.open {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

.burger-menu {
  position: fixed;
  z-index: 2;
  top: 1.5rem;
  right: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  background: #000;
  border-radius: 50%;
  color: #fff;
  box-shadow: 0px 0px 11px -2px #fff;
}

.close-menu {
  font-size: 40px;
  color: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 4;
}

.actual-menu-choices {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 700;
  text-align: center;

  li {
    margin-bottom: 20px;

    &:last-child { margin-bottom: 0; }
  }
}

.menulink {
  color: #fff;
  text-decoration: none!important;

  &:hover { color: red; }
}

.sound-player {
  position: fixed;
  top: 1.5rem;
  left: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  background: #000;
  border-radius: 50%;
  color: #fff;
  box-shadow: 0px 0px 11px -2px #fff;
  z-index: 2;

  &.stopped {
    color: #6f6f6f;

    &:before {
      content: '';
      position: absolute;
      width: 1px;
      background: red;
      height: 100%;
      transform: rotate(45deg);
      left: 20px;
    }
  }
}